body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
  text-align: center;
  background-color:darkslategray;
}

.card {
  background-color: white;
  max-width: 450px;
  padding: 40px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px #000;
  transition: transform 0.3s, background-color 0.3s ease;
  margin-bottom: 1em;
}

.card:hover {
  background-color:blanchedalmond;
  transform: scale(1.1);
}

h1::before {
  content: "🎉 ";
}

h1::after {
  content: " 🎉";
}

.message {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.card-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.card-links a {
  text-decoration: none;
  font-size: 1em;
  font-weight:bold;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid goldenrod;
  color: darkslategray;
  background-color:goldenrod;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 6px darkgray;
}

.card-links a:hover {
  background-color: darkgoldenrod;
  border: 2px solid darkgoldenrod;
}

.card-links a:active {
  background-color: midnightblue;
}

.card-links a:focus {
  outline: 2px solid yellow;
}

.card-links a:visited {
  color: crimson;
}

section {
  margin: 20px auto;
  max-width: 375px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  
}

section:hover{
  transform: rotate(3deg);
}

