.centered {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:beige;
    color:indianred;
    font-size: 1.2rem;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

hr {
    width:30%;
    height:3px;
    border-radius:10px;
    background-color:indianred;
}

